.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group !optional;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

blockquote {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-left: 3px solid rgb(125, 91, 237);
  padding: 1rem;
  background: rgb(248, 249, 250);

  p:last-of-type {
    margin-bottom: 0;
  }
}


