{% macro comments() %}
<script id="commentSection"
        src="https://giscus.app/client.js"
        data-repo="orditeck/2ndbrain"
        data-repo-id="R_kgDOI5BKWA"
        data-category="Announcements"
        data-category-id="DIC_kwDOI5BKWM4CUAUe"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endmacro %}
