{% macro page_publish_metadata(page) %}
{% set posted = page.date | date(format=config.extra.timeformat | default(value="%Y-%m-%d %H:%M:%S"), timezone=config.extra.timezone | default(value="America/New_York")) %}
{% if page.updated and page.updated != page.date %}
{% set updated = page.updated | date(format=config.extra.timeformat | default(value="%Y-%m-%d %H:%M:%S"), timezone=config.extra.timezone | default(value="America/New_York")) %}
{% endif %}
<p>
  <small>
    {% if updated %}
    Posted {{ posted }}, last updated {{ updated }}
    {% else %}
    Posted {{ posted }}
    {% endif %}
    &nbsp;&hyphen;&nbsp;
    <strong>{{page.reading_time }}&nbsp;min read</strong>
  </small>
<p>
  {% endmacro %}
